/* body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: rgb(25, 81, 25);
background-size: cover;
text-align: center;
color: white;
font-weight: bold; 
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
    
}

button {
    color: blueviolet;
    width: 150px;
    background: goldenrod;
    padding: 5px 0px 5px 0px;
    margin-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;

} */

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solod black;
    margin-bottom: 4px;

}

button {
    color: rgb(255, 255, 255);
    background-color: #5f9341;
    padding: 10px 20px ;
    width: 15%;
    border: none;
    font-weight: bold;
}   

#box {
    cursor: pointer;
    background: red;
    padding: 40px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 0;

}

li {

    margin-top: 5px;
}

a {
    color: #5f9341;
}